* {padding: 0; margin: 0}
html {
	font-family: "Rubik",sans-serif;

}
nav {
	width: 100%;
	z-index: 1; 
	background-color: white;
	display: flex;
	position: fixed;
	height: 90px;
	box-shadow: 5px 5px 5px lightgrey;
	  }
nav .logo img {height: 90px; padding-right: 17px; margin-left: 15px; border-right: solid darkgreen 2px}

.arrowdown1 {
  border: solid #176152;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  margin: 3px 0 0 -15px;
}

.arrowdown2 {
  border: solid #176152;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  margin: 3px 0 0 -15px;
}

nav ul { margin-left: 20px; margin-top: 20px; text-align: left;}
nav ul li { float: left; list-style: none; background: white; padding: 15px 15px;}
nav ul li a {margin-right: 25px; text-decoration: none; }
nav ul li ul{display: none; margin: 15px 0 0 -15px}
nav ul li img {width: 10px}
nav ul li:hover  > ul {display: block;}
nav ul li ul {position: absolute;}
nav ul li ul li {float: none; position: relative;}
nav a {color: #176152;}
nav a:hover {color: #E4FF00}
nav ul li a:hover .arrowdown1 {border-color: yellow}
nav ul li a:hover .arrowdown2 {border-color: yellow}
nav ul li ul li ul {left: 100%; top: 0%; width: 250px;}

.navkanan {
	width: 400px;
	position: absolute;
	right: 5%;
}
.telppng img {
	width: 20px; 
	margin-top:35px; 
	float: left;
}

nav p {
	color: #176152; 
	margin-top: 35px; 
	margin-left: 3px;
	margin-right: 30px;
	float: left;
}

.contacts .fa-instagram {
	float: left;
	margin-top: 35px; 
	margin-left: 20px;
	color: #176152;
}

.contacts .fa-instagram:hover {
	color: yellow;
}

.contacts .fa-linkedin {
	float: left;
	margin-top: 35px; 
	margin-left: 20px;
	color: #176152;
}

.contacts .fa-linkedin:hover {
	color: yellow;
}

.contacts .fa-facebook {
	float: left;
	margin-top: 35px; 
	margin-left: 20px;
	color: #176152;
}

.contacts .fa-facebook:hover {
	color: yellow;
}

.contacts .fa-google-plus-g {
	float: left;
	margin-top: 35px; 
	margin-left: 20px;
	color: #176152;
}

.contacts .fa-google-plus-g:hover {
	color: yellow;
}
.search {
	color:#176152 ;
	position: absolute;
	left: 94%;
	background-color: yellow;
	padding: 36px;
}

.biarturun {
    color: white;
}
.fotojudulblog {
	background: lightgrey;
	height: 470px;
	position: relative;
	margin: auto;
	margin-bottom: 120px;
}

.fotojudulblog img {
	width: 100%;
	height: 470px;
	object-fit: cover;
}

.teksjudulblog {
    background-color: #176152;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: -350px;
}

.teksjudulblog h1 {
    font-family: 'Brush Script MT', cursive; font-weight: normal; cursor: default;
	font-size: 90pt;
    color: white;
    text-align: center;
}

.teksjudulblog p {
    text-align: center;
    color: white;
}

body {
	position: relative;
}

.containmap {
	position: relative;
	margin: auto;
	text-align: center;
	margin-bottom: 80px;
}

.containget {
	width: 1140px;
	height: 524px;
	margin: auto;
	position: relative;
}

.containget h2{
	font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
	margin-left: 18px;
}

.containget .kiricontain {
	width: 730px;
	height: 442px;
	float: left;
	padding-right: 15px;
    padding-left: 15px;
}

.kiricontain .kiriform textarea {
	width: 100%;
	height: 190px;
	border: 1px solid #e5e6e9;
    border-radius: 0;
    padding-left: 18px;
    font-size: 13px;
	margin-bottom: 30px;
}

.kiricontain .kiriform .nameform {
	border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
	width: 330px;
	margin-right: 26px;
}

.kiricontain .kiriform .emailform {
	border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
	width: 329px
}

.kiricontain .kiriform .subjectform {
	border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
	margin-top: 30px;
	width: 100%;
	margin-bottom: 50px;
}

.kiriform .send {
	background:#176152;
    color: #fff;
    padding: 14px 44px;
    font-family: "Rubik",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    text-align: center;
    cursor: pointer;
	transition: 0.3s;
}

.kiriform .send:hover{
	background-color:yellow ;
	color: #176152;
}

.containget .kanancontain {
	width: 320px;
	height: 442px;
	float: left;
	padding-right: 15px;
    padding-left: 15px;
	margin-left: 30px;
}

.kanancontain .contactinfo {
	margin-bottom: 50px;
}
.kanancontain .contactinfo i {
	float: left;
	margin-top: 10px;
}

.kanancontain .contactinfo .tulisan {
	margin-left: 24px;
	float: left;
}

.kanancontain .contactinfo .tulisan2{
	margin-left: 40px;
	margin-top: 90px;
}

.kanancontain .contactinfo .tulisan2 p{
	color: gray;
}

.kanancontain .contactinfo .tulisan p {
	color: gray;
}


.footertop {
	background: #176152;
	height: 400px;
	color: white;
	margin: auto;
	padding: 40px;
	
}

.barisfoot {
	height: 300px;
	width: 1250px;
	margin: auto;
	margin-top: 100px;
}

.kiri1 {
	width: 350px;
	height: 270px;
	float: left;
	margin-left: 50px;
	color: black;
	margin-top: -25px;
	
}

.kiri1 img {
	width: 80px;
	float: left;
}

.buatkiri {
	width: 350px;
	height: 100px;
	margin-top: -5px;
}

.buatkiri h3 {
	float: left;
	text-align: left;
	margin: 30px 0 0 10px;
	color: white;
}

.kiri1 p {
	text-align: left;
	line-height: 30px;
	margin-left: 15px;
	color: white;
}

.kiri1 p a {
	color: white;
	text-decoration:none;
}

.sosmed {
	width: 250px;
	margin-left: 15px;
	margin-top: 50px;
}

.sosmed .fa-facebook {
	float: left;
	color: yellow;
}

.sosmed .fa-twitter {
	float: left;
	margin-left: 15px;
	color: yellow;
}

.sosmed .fa-instagram {
	float: left;
	margin-left: 15px;
	color: yellow;
}

.sosmed .fa-pinterest {
	float: left;
	margin-left: 15px;
	color: yellow;
}

.sosmed .fa-youtube {
	float: left;
	margin-left: 15px;
	color: yellow;
}

.sosmed .fa-facebook:hover {
	color: white;
}

.sosmed .fa-twitter:hover{
	color: white;
}

.sosmed .fa-instagram:hover {
	color: white;
}

.sosmed .fa-pinterest:hover {
	color: white;
}

.sosmed .fa-youtube:hover {
	color: white
}

.kiri2 {
	width: 160px;
	height: 212px;

	float: left;
	margin-left: 20px;
	text-align: left;
}

.kiri2 h3{
	margin-bottom: 40px;
}

.kiri2 ul li {
	list-style: none;
	line-height: 36px;
}

.kiri2 ul li a {
	color: white;
	text-decoration:none;
}

.kiri1 p a:hover{
	color: yellow;
}

.kiri2 ul li a:hover{
	color: yellow;
}

.tengah {
	width: 285px;
	height: 271px;
	float: left;
	margin-left: 70px;
}

.tengah h3 {
	text-align: left;
	margin-bottom: 40px;
}

.tengah ul li {
	width: 50%;
    float: left;
	list-style: none;
	text-align: left;
	line-height: 36px;
}

.tengah ul li a{
	color: white;
	text-decoration:none;
}

.tengah ul li a:hover{
	color: yellow;
}


.kanan {
	width: 285px;
	height: 271px;
	float: left;
	margin-left: 10px;
}

.kanan h3 {
	text-align: left;
	margin-bottom: 40px;
	margin-left: 25px;
}

.bordertop {
	border-top: 1px solid yellow;
    padding-bottom: 26px;
	width: 50%;
	margin: auto;
}

.footerbottom {
	background-color: #176152;
	height: 80px;
	color: white;
}

.copyright {
    text-align: center;
}

